/* GENERAL */
:root {
  --shadow: #222222;
  --background: #BBD0FF;
  --item: #C8B6FF; 
  --view:   #FFD6FF;
  --notActive: #E7C6FF;
  --success: #4e7a61;
  --fail: #bd2a28;
  
  /* Gradient -> background-image */
  /* --backgroundGradient: linear-gradient(to top, #8ddeb0, #63dacb, #47d3e5, #58c9f6, #82bbf9, #88bcfb, #8fbcfd, #95bdff, #74cfff, #53e0ff, #47eeff, #5ffbf1); */} 

* {
  font-family: sans-serif;
}

body, html {
  background-color: var(--background);
  /* background-image: var(--backgroundGradient); */
}

body {
  display: flex;
  margin: 0px;
}

button {
  box-shadow: -2px 2px 2px var(--shadow);
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

/* SIDEBAR */

aside {
  width: 25%;
  margin: none;
  box-shadow: -5px 0px 5px var(--shadow) inset;
}

header {
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: var(--shadow);
  color: white;
  padding: 15px;
  border: solid 5px white;
  border-radius: 10px;
  box-shadow: -5px 5px 5px var(--shadow);
  position: relative;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Header */
header:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-header 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-header {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

header:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--shadow);
  left: 0;
  top: 0;
  border-radius: 10px;
}

/********************/

h1 {
  font-size: 2.5em;
  font-family: "Bree Serif", serif;
  line-height: 1;
  padding-bottom: 10px;
}

h1, 
h2 {
  margin: 0;
}

h3 {
  color: var(--shadow);
}

.display-options > h3 {
  color: var(--shadow);
}

p { 
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav > button {
  border: none;
  margin-bottom: 20px;
  background-color: var(--notActive);
  width: 65%;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
  box-shadow: -5px 0px 5px var(--shadow) inset;
  color: var(--shadow);
}

.active-nav {
  background-color: var(--view);
  box-shadow: none;
}

/* MAIN */

main {
  padding: 10px;
  width: 75%;
  background-color: var(--view);
}

form {
  display: flex;
}

#items-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item,
.merchant {
  display: flex;
  background-color: var(--item);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.item {
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.merchant {
  width: 98%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#new-merchant-name {
  margin: 0px 5px 0px 5px;
}

.rounded {
  border-radius: 7px;
}

.view-items-button {
  padding: 5px;
  margin-right: 10px;
}

.edit-merchant,
.delete-merchant {
  border-radius: 5px;
  border: 1px solid var(--shadow);
  
}

.merchant-name {
  padding-left: 10px;
  margin: 0px;
}

.display-options {
  display: flex;
  align-items: center;
}

.display-options > button {
  margin-left: 15px;
}

.merchant-name-in-item {
  display: inline;
}

.success {
  color: var(--success);
}

.fail {
  color: var(--fail);
}

/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 





