/* GENERAL */
:root {
  --black: #180626;
  --gray: #ccc9dc85;
  --paleGray: #e4e3f4ab;
  --grayLowOp: #7e6a9b; 
  --teal: #02C3BD;
  --green: #228B22;
  
  /* Gradient -> background-image */
  --greenTealGrad: linear-gradient(to left, #02c3bd, #00b79d, #00a978, #009b50, #228b22);
} 

* {
  font-family: sans-serif;
}

body, html {
  background-color: var(--gray);
}

body {
  display: flex;
  margin: 0px;
}

button:hover {
  cursor: pointer;
}

/* SIDEBAR */

aside {
  width: 25%;
  margin: none;
  box-shadow: -5px 0px 5px var(--black) inset;
}

header {
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: var(--black);
  color: white;
  padding: 15px;
  border: solid 5px white;
  border-radius: 10px;
  box-shadow: -5px 5px 5px var(--black);
}

h1 {
  font-size: 2.5em;
  font-family: "Bree Serif", serif;
  line-height: 1;
  padding-bottom: 10px;
}

h1, 
h2 {
  margin: 0;
}

p { 
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav > button {
  border: none;
  margin-bottom: 20px;
  background-color: var(--grayLowOp);
  width: 65%;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
  box-shadow: -5px 0px 5px var(--black) inset;
}

.active-nav {
  background-color: white;
  box-shadow: none;
}

/* MAIN */

main {
  padding: 10px;
  width: 75%;
  background-color: white;
}

form {
  display: flex;
}

#items-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item,
.merchant {
  display: flex;
  background-color: var(--paleGray);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.item {
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.merchant {
  width: 98%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rounded {
  border-radius: 7px;
}

.view-items-button {
  padding: 5px;
  margin-right: 10px;
}

.merchant-name {
  padding-left: 10px;
  margin: 0px;
}

.display-options {
  display: flex;
  align-items: center;
}

.display-options > button {
  margin-left: 15px;
}

.merchant-name-in-item {
  display: inline;
}

.success {
  color: var(--green);
}

.fail {
  color: red;
}

/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 